.elasticsearch-container {
  display: flex;
  flex-direction: column;
}

.elasticsearch-container > * {
  width: 100%;
}

.elasticsearch-buttons{
  display: flex;
  align-items: right;
  justify-content: space-around;
}
