<div class="plex-container">
  <mat-form-field>
    <input matInput placeholder="Enter your plex.tv email" [formControl]="emailFormControl"
           [errorStateMatcher]="matcher">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>

  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</div>
