<div class="docs-component-viewer-nav">
  <div class="docs-component-viewer-nav-content">
    <button (click)="toggleExpand('genre')"
            [attr.aria-label]="'genre, section toggle'"
            [attr.aria-controls]="'panel-genre'"
            [attr.aria-expanded]="getExpanded('genre')">
      Genres
    </button>

    <ul [@bodyExpansion]="_getExpandedState('genre')" id="panel-genre">
      <li >
        <mat-slide-toggle
          class="example-margin"
          color="primary"
          [checked]="true"
          (change)="toggleAll($event)">
          None / All
        </mat-slide-toggle>
      </li>
      <li *ngFor="let genre of moviesSharedService.genres">
      <mat-slide-toggle
        class="example-margin"
        color="primary"
        [checked]="moviesSharedService.checkedGenre[genre]"
        (change)="toggleGenre(genre, $event)">
        {{ genre }}
      </mat-slide-toggle>
        </li>
    </ul>
    <hr>
    <button (click)="toggleExpand('year')"
            [attr.aria-label]="'year, section toggle'"
            [attr.aria-controls]="'panel-year'"
            [attr.aria-expanded]="getExpanded('year')">
      Years
    </button>
    <ul [@bodyExpansion]="_getExpandedState('year')" id="panel-year">
      <li>
        From
       </li>
      <mat-slider
        class="example-margin"
        [max]="moviesSharedService.maxFrom"
        [min]="moviesSharedService.minFrom"
        color="primary"
        [thumb-label]="true"
        [(ngModel)]="moviesSharedService.valueFrom"
        (change)="toggleYearFrom(valueFrom, $event)">
      </mat-slider>
      <li>
        To
      </li>
      <mat-slider
        class="example-margin"
        [max]="moviesSharedService.maxTo"
        [min]="moviesSharedService.minTo"
        color="primary"
        [thumb-label]="true"
        [(ngModel)]="moviesSharedService.valueTo"
        (change)="toggleYearTo(valueTo, $event)">
      </mat-slider>
    </ul>
    <hr>
  </div>
</div>
