<mat-card class="user-card">
  <mat-card-content>
    <form
      novalidate
      [formGroup]="userRegistrationForm"
      (ngSubmit)="editPlex()">
      <mat-form-field class="user-edit-full-width">
        <input required matInput placeholder="Plex Server Name"
               name="plexServerName" [(ngModel)]="plexUser.machineName"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <br>

      <mat-form-field class="user-edit-full-width">
        <input matInput placeholder="Plex email" [(ngModel)]="plexUser.username"
               formControlName="emailCheck"
               name="plexLogin">
        <mat-error *ngIf="emailFormControl.hasError('emailOptional')">
           Plex email should be under the form <strong>xxxxxxxx@yyyyyy.zzz</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="user-edit-full-width">
        <input matInput placeholder="Plex password" name="plexPassword" [ngModelOptions]="{standalone: true}"
               [(ngModel)]="plexUser.password"
               [type]="hidePlexPassword ? 'password' : 'text'">

        <mat-icon matSuffix (click)="hidePlexPassword = !hidePlexPassword">{{hidePlexPassword ? 'visibility' :
          'visibility_off'}}
        </mat-icon>
      </mat-form-field>
      <button mat-button type="button" (click)="testPlexLogin()">Test Plex</button>
      <br>

      <button mat-button type="button" (click)="cancel()">Cancel</button>
      <button mat-button
              type="submit">OK
      </button>
    </form>
  </mat-card-content>
</mat-card>
