<div class="docs-component-viewer-nav">
  <div class="docs-component-viewer-nav-content">
    <button (click)="toggleExpand('security')"
            [attr.aria-label]="'security, section toggle'"
            [attr.aria-controls]="'panel-security'"
            [attr.aria-expanded]="getExpanded('security')">
      Security
      <mat-icon >account_circle</mat-icon>
    </button>
    <ul [@bodyExpansion]="_getExpandedState('security')" id="panel-users">
      <li>
        <a [routerLink]="'/settings/users'"
           routerLinkActive="docs-component-viewer-sidenav-item-selected">
          Users
        </a>
      </li>
      <li>
        <a [routerLink]="'/settings/users'"
           routerLinkActive="docs-component-viewer-sidenav-item-selected">
          LDAP
        </a>
      </li>
    </ul>
    <hr>
    <button (click)="toggleExpand('backends')"
            [attr.aria-label]="'backends, section toggle'"
            [attr.aria-controls]="'panel-backends'"
            [attr.aria-expanded]="getExpanded('backends')">
      Backends
      <mat-icon *ngIf="!getExpanded('backends')">cast_connected</mat-icon>
      <mat-icon *ngIf="getExpanded('backends')">cast_connected</mat-icon>
    </button>
    <ul [@bodyExpansion]="_getExpandedState('backends')" id="panel-backends">
      <li>
        <a [routerLink]="'/settings/plex'"
           routerLinkActive="docs-component-viewer-sidenav-item-selected">
          Plex
        </a>
      </li>
      <li>
        <a [routerLink]="'/settings/plex-on-the-go'"
           routerLinkActive="docs-component-viewer-sidenav-item-selected">
          Plex On The Go
        </a>
      </li>
      <li>
        <a [routerLink]="'/settings/elasticsearch'"
           routerLinkActive="docs-component-viewer-sidenav-item-selected">
          Elastic Search
        </a>
      </li>
    </ul>
    <hr>
    <button [routerLink]="'/settings/users'">
      <mat-icon >account_circle</mat-icon>
      <a [routerLink]="'/settings/plex'"
         routerLinkActive="docs-component-viewer-sidenav-item-selected">
        Plex
      </a>

    </button>
  </div>
</div>
