<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
<nav class="docs-navbar-header">

  <a mat-button class="docs-button" routerLink="/" aria-label="Plex On The Go">
    <img class="docs-angular-logo"
         src="./assets/img/homepage/plex-on-the-go.png"
         alt="angular">
    <span>Plex On The Go</span>
  </a>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="movies">
    <mat-icon>movie</mat-icon>
    <span>Movies</span>
  </a>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="tvshows">
    <mat-icon>tv</mat-icon>
    <span>TV Shows</span>
  </a>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="downloads">
    <mat-icon>cloud download</mat-icon>
    <span>Downloads</span>
  </a>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="sync">
    <mat-icon>sync</mat-icon>
    <span>Sync</span>
  </a>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="settings">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </a>

  <div class="flex-spacer"></div>

  <theme-picker></theme-picker>
  <a mat-button class="docs-button docs-navbar-hide-small" href="https://github.com/lolobored/plex-on-the-go-frontend"
     aria-label="GitHub Repository">
    <img class="docs-angular-logo"
         src="./assets/img/homepage/github-circle-white-transparent.svg"
         alt="angular">
    GitHub
  </a>
  <a mat-icon-button class="docs-button docs-navbar-show-small"
     href="https://github.com/lolobored/plex-on-the-go-frontend" aria-label="GitHub Repository">
    <img class="docs-angular-logo"
         src="./assets/img/homepage/github-circle-white-transparent.svg"
         alt="angular">
  </a>
  <a mat-button class="docs-navbar-hide-small docs-button" [matMenuTriggerFor]="usermenu">
  <mat-icon>person</mat-icon>
    <span>{{ username }}</span>
  </a>
  <a mat-icon-button class="docs-navbar-link docs-navbar-show-small" [matMenuTriggerFor]="usermenu">
    <mat-icon>person</mat-icon>
  </a>
  <mat-menu #usermenu="matMenu" yPosition="below" [overlapTrigger]="false">
    <button color="primary" mat-menu-item routerLink="/profile">Profile</button>
    <button color="primary" mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>


</nav>
<nav class="docs-navbar docs-navbar-show-small">
  <a mat-icon-button class="docs-navbar-link" routerLink="movies">
    <mat-icon>movie</mat-icon>
  </a>
  <a mat-icon-button class="docs-navbar-link" routerLink="tvshows">
    <mat-icon>tv</mat-icon>
  </a>
  <a mat-icon-button class="docs-navbar-link" routerLink="downloads">
    <mat-icon>cloud download</mat-icon>
  </a>
  <a mat-icon-button class="docs-navbar-link" routerLink="sync">
    <mat-icon>sync</mat-icon>
  </a>
  <a mat-icon-button class="docs-navbar-link" routerLink="settings">
    <mat-icon>settings</mat-icon>
  </a>
</nav>

