<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>User Configuration</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-form-field class="user-edit-field">
          <input matInput placeholder="Username" [(ngModel)]="user.userName" required [formControl]="userNameFormControl">
          <mat-error *ngIf="userNameFormControl.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>

        <mat-form-field>
          <input matInput placeholder="Password" [(ngModel)]="user.password" [type]="hidePassword ? 'password' : 'text'"
                 [formControl]="passwordFormControl">
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>

        <mat-form-field>
          <input matInput placeholder="Enter your plex.tv email" [(ngModel)]="user.plexLogin" required [formControl]="emailFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <input matInput placeholder="Enter your plex.tv password"
                 [(ngModel)]="user.plexPassword" required [type]="hidePlexPassword ? 'password' : 'text'"
                 [formControl]="passwordFormControl">
          <mat-icon matSuffix (click)="hidePlexPassword = !hidePlexPassword">{{hidePlexPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>


        <mat-form-field>
          <mat-select placeholder="User Type"  [(ngModel)]="user.role" >
            <mat-option *ngFor="let type of types"[value]="type.value">
              {{ type.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/settings/users">Cancel</button>
    <button mat-button  routerLink="/settings/users" (click)="editUser()" >OK</button>
  </mat-card-actions>
</mat-card>
