<div class="docs-component-viewer-nav">
  <div class="docs-component-viewer-nav-content">
    <button (click)="toggleExpand('show')"
            [attr.aria-label]="'show, section toggle'"
            [attr.aria-controls]="'panel-show'"
            [attr.aria-expanded]="getExpanded('show')">
      TV Shows
    </button>

    <ul [@bodyExpansion]="_getExpandedState('show')" id="panel-show">
      <li *ngFor="let show of shows">
      <mat-slide-toggle
        class="example-margin"
        color="primary"
        [checked]="true"
        (change)="toggleTvShow(show, $event)">
        {{ show }}
      </mat-slide-toggle>
        </li>
    </ul>
  </div>
</div>
