<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Plex On The Go</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button mat-button>
      <mat-icon>movie</mat-icon>
      <span>Movies</span>
    </button>
    <button mat-button>
      <mat-icon>tv</mat-icon>
      <span>TV Shows</span>
    </button>
    <button mat-button>
      <mat-icon>cloud download</mat-icon>
      <span>Downloads</span>
    </button>
    <button mat-button>
      <mat-icon>sync</mat-icon>
      <span>Sync</span>
    </button>
    <button mat-button>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<app-settings></app-settings>
